<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="UserID"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [reorderable]="true"
  [resizable]="true"
  [height]="500"
  [columnMenu]="{ filter: true }"
>
  <ng-template kendoGridToolbarTemplate>
    <input
      [style.width.px]="180"
      placeholder="Search in all columns..."
      kendoTextBox
      (input)="onFilter($event)"
    />
    <kendo-grid-spacer></kendo-grid-spacer>
    <button kendoButton themeColor="primary" (click)="AddNewUser()">
      Add new user
    </button>
  </ng-template>
  <kendo-grid-column field="FirstName" title="First Name" [width]="220">
  </kendo-grid-column>
  <kendo-grid-column field="LastName" title="Last Name" [width]="130">
  </kendo-grid-column>
  <kendo-grid-column field="Email" title="Email" [width]="220">
  </kendo-grid-column>
  <kendo-grid-column field="RoleID" title="Role" [width]="130">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="IsAdmin(dataItem.RoleID)">Admin</span>
      <span *ngIf="IsManager(dataItem.RoleID)">Manager</span>
      <span *ngIf="IsEditor(dataItem.RoleID)">Editor</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="130">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton (click)="onEdit(dataItem.UserID)" fillMode="flat">
        Edit User
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
